*{
  box-sizing: border-box;
  font-family: 'ubuntu';
  user-select: none;
}

body{
  margin: 0;
  padding: 0;
  cursor: default;
  background: #fffef9
}

@media(max-width: 500px){
  html{
    font-size: 13px;
  }
}

@media(max-width: 400px){
  html{
    font-size: 12px;
  }
}